* {
    font-family: "open-sans", sans-serif;
}
button {
    border: none;
    background-color: #fff;
    height: 100%;
}
#hero{
  background-color: #004c4c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#portfolio {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 10px;
}
#scroll {
  margin: 10px;
  padding: 10px;
  transform: scale(2);
}
#scroll:hover {
  transform: scale(2.5);
  transform-origin: center center;
  transition: 200ms ease-in-out;
}
#portfolio > div {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto;
}
@media screen and (max-width: 500px){
  #portfolio {
    display: block;
  }
}
.card {
    margin: 20px;
    box-shadow: 3px 3px 10px #777777;
    width: 300px;
    display: flex;
    align-self: center;
}
.card:hover {
    transform: scale(1.05);
    transform-origin: left top;
    transition: 200ms;
}
.card > h3 {
    font-size: 20px;    
    font-weight: bold;
}
.card-btn {
    font-size: 14px;
}
.card-text {
    padding: 20px;
}
.block-title {
    font-size: 30px;
    font-weight: bold;
}
.card-menu {
    display: flex;
    justify-content: space-between;
}
.portfolio-title {
    font-size: 24px;
    color: black;
    font-weight: bolder;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3498db;
}
#company-logo {
    font-size: 24px;
}
#contact {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;

}
.contact-icon {
  background-color: #1a1a1a;
  color: white;
}
#footer {
  background-color: #171717;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer-text {
  padding: 20px;
  margin: 0px;
}